{{#each meetups}}
<div class="container">
    </br>
    <h1 class="text-center text-success"><span class="font-weight-bold text-center">{{ this.title }}</span></h1>
    <div class="contents">
    <p> {{ this.description }}</p>
     <p> {{ this.date }}</p>
      <p> {{ this.startTime }}</p>
       <p> {{ this.endTime }}</p>
    <p>{{this.image}}</p>
    </div>
</div>

{{/each}}
