<h1> Meetup </h1>


<p>Title: {{meetup.title}}</p>
<p>Description:{{meetup.description}}</p>
<p>Date:{{meetup.date}}</p>
<p>StartTime:{{meetup.startTime}}</p>
<p>EndTime:{{meetup.endTime}}</p>
 <img src="../../upload/{{ meetup.image }}" alt="...">
<a href="/users/meetup.user._id">{{meetup.user.name}}</a>


