<style>
    .card{
        width: 30%;
    }
</style>
<div class="FrontCover mt-3"></div>
    <img src="../images/Beach.png" style="width:100vw" height="500px">
    <div class="title">
        <div>The Real world is calling</div>
        <p>Join a local group to meet people, try something new, or do more of what you love.</p>
    </div>
    <a href=""><div class="centered border border-info mt-1"><p>Join Meetup</p></div></a>
</div>

<div>
    <div class="container mt-3">
        <ul class="list-group list-group-horizontal d-flex justify-content-between">
            <li class="list-group-item border">Join Movement</li>
            <li class="list-group-item border">Learn to cook</li>
            <li class="list-group-item border">Train for Marathon</li>
            <li class="list-group-item border">Build Mobile app</li>
            <li class="list-group-item border">Hike Mountain</li>
            <li class="list-group-item border">Practice languages</li>
            <li class="list-group-item border">Learn Judo</li>
        </ul>
    </div>
    <hr>
</div>

<div class="container">
    <h4 class="page-welcome">Events</h4>
    <div class="row">
        <div class="col-sm">
            <p>See what's happening soon.</p>
        </div>
        <div class="col-sm"> </div>
        <div class="col-sm">
            <h3 class="float-right">
                <a href="">See All</a>
            </h3>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
    {{#each meetups}}

    <div class="card">
        <a href="/meetups/show/{{this._id}}"><img src="../../upload/{{this.image}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <p class="card-text"><p class="card-text">{{this.description}}</p></p>
            <div class="card-footer">
                <small class="text-muted">Date {{ this.date }}</small>
                <small class="text-muted">Start Time {{ this.startTime }}</small>
                <small class="text-muted">End Time {{ this.endTime }}</small>
            </div>
        </div>
    </div>
    {{/each}}
    <div>

    </div>
    </div>
</div>
<hr>
